<h1>All Characters:</h1>

<% if logged_in? %>
  <div class="new-character-button">
    <%= erb :'characters/_new_character_button' %>
  </div>

  <div class="character-form">

  </div>
<% end %>

<div id="all-character-cards">
  <%= erb :'characters/_characters_shower' %>
</div>
