<div class="character-classes-page">
  <h2>All Classes:</h2>

  <div class="all-character-classes">
    <% @character_classes.each do |character_class| %>
      <%= erb :'character_classes/_character_class_card', locals: {character_class: character_class} %>
    <% end %>
  </div>

</div>
