<h1>Welcome to the Empire Character Creator app</h1>

<p>Empire is a tabletop RPG system I am creating with my friend Jack Wostrel. This is a website that can create a stripped down version of a character for the game!</p>
<br>
<br>
<p>Sign up or Log in to access the site!</p>
