<div class="armor-card">
  <p>
    <span><%= armor.name %></span><br>
    <label>Passive Defense Bonus:</label>
    <%= armor.passive_defense_bonus %><br>
    <label>Energy Reduction:</label>
    <%= armor.energy_reduction %><br>
  </p>
</div>
