<div class="armors-page">
  <h2 class="armors-header">All Armors:</h2>

  <div class="all-armors">
  <% @armors.each do |armor| %>
    <%= erb :'armors/_armor_card', locals: {armor: armor} %>
  <% end %>
  </div>
</div>
